/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
//  @import "bootstrap-sprockets";
 @import "bootstrap";
 
 .card-flame{
  margin-bottom:18px;
 }
 
 .btns{
    //  text-align:right;
    display:flex;
    justify-content:flex-end;
    margin-top:-30px;
}

.memo-header{
  // background-color:#aaaeb5;
  background-color:#626366;
  h4{
   
  font-weight:bold;
  }
}

.trash-btn{
 color:#536299;
 padding-right:10px;
}

.edit-btn{
 color:#7e7c80;
}

@media(max-width:768px){
 .card-flame{
  // height:140px;
  // width:100%;
  margin-bottom:10px;
 }
}