<h1>Memo List</h1>
<!--<a href="/new" class="btn btn-primary">新規作成</a>-->

<div class="row">
    <% @memos.each do |memo| %>
        <div class="col-sm-4">
            <div class="card " style="width: 20rem;">
                <div class="card-header bg-secondary"><h4><%=memo.title%></h4>
                <p>カテゴリー未設定</p>
                <div class="btns">
                    <a href="/memos/<%=memo.id%>" data-method="delete"><i class="fas fa-trash-alt"></i></a> 
                    <a href="/memos/<%=memo.id%>/edit"><i class="fas fa-edit"></i></a> </div>
                </div>
                <div class="card-body"><%=memo.body%></div>
            </div>
        </div>
    <% end %>
</div>
    
        
